#messageindex
  %section.padding.bck.light.text.center
    .row.padding.text.book
      %h2 Your Inbox
      #mailicon.span.icon.envelope
      %p.padding Click to view your previous conversations.
      %hr
      - if !@message_partners.empty?
        %table.margin-top
          %tr
            %th Partner
          - @message_partners.each do |partner|
            %tr
              %td.text.bold= link_to truncate(partner.email, length: 22), message_path(partner.id), :remote => true
      - else
        %p You don't have any messages yet