#dashcontainer
  %section.bck.light.text.padding.center
    .row.text.book.padding
      #profile.tile
        =link_to profile_path do
          %span.icon.user
        %h5.color.theme.text.bold Profile
      #inbox.tile
        =link_to messages_path do
          %span.icon.envelope
        %h5.color.theme.text.bold Inbox
      #places.tile
        =link_to places_path do
          %span.icon.map-marker
        %h5.color.theme.text.bold My Places
      #new_spark.tile
        =link_to new_spark_path do
          %span.icon.heart
        %h5.color.theme.text.bold New Spark