/ Remember if you are going to update this page, to also update the dashboardpartial for ajax rendering
#profile.tile
  =link_to "Profile", profile_path
#inbox.tile
  =link_to "Inbox", messages_path
#places.tile
  =link_to "Places", places_path
#new_spark.tile
  =link_to "New Spark", new_spark_path