%h2 Messages
%table
  %tr
    %th Partner
  - @message_partners.each do |partner|
    %tr
      %td= link_to partner.email, message_path(partner.id)


= link_to "Edit Profile", edit_user_registration_path