%section.bck.light.text.padding.center
  .row.text.book.padding
    %h1 Welcome to your Profile Page
    = link_to "Edit Profile", edit_user_registration_path

    / need to add facebook picture url...
    #facebook_picture

    %h2 Your Recent Notes

    %table
      %tr
        %th Title
        %th Location
        %th Created
      - @user_sparks.each do |spark|
        %tr
          %td= !spark.title.blank? ? (link_to spark.title, spark_path(spark) : (link_to "(Add title)", edit_spark_path(spark))
          %td= !spark.input_location.blank? ? (link_to spark.input_location, spark_path(spark) : (link_to "(Add location)", edit_spark_path(spark))
          %td= spark.created_at.advance(:hours => -7).strftime('%B %e, %Y at %l:%M %p')
