#homepage
  %section.bck.light.text.padding.center
    .row.text.book.padding
      #update_location.button.seconday
        %span.icon.map-marker
        %span Update My Location!

      %hr
      %section.bck.lightest
        %h4.text.bold All sparks near your past locations:
        %hr
        #spark_feed.bck.lightest
          = render "spark_feed"

        = will_paginate @nearby_sparks
