#homepage
  %section.bck.light.text.padding.center
    .row.text.book.padding




      %button{:id => "update_location"} Update Location!
      %hr

      %h4.text.bold All sparks near your past locations:
      #spark_feed
        = render "spark_feed"

      = will_paginate @nearby_sparks