%section.bck.light.text.padding.center
  .row.text.book.padding
    %h4
      Welcome to
    #smitten
      %h1.text.alert
        Smitten
      #landingheart.span.icon.heart

    %hr
    #container
      %h4 Welcome to Smitten.













