%section.bck.light.text.center
  #bottomcontainer
    %span#iphone.icon.mobile-phone
    #textcontainer
      %h3 Welcome to
      %h2.salmontext Smitten!
      #desktopheart.span.icon.heart
      %hr
      %h6
        You are seeing this page because you are not using a mobile browser. Please visit our site
        on your mobile phone.








