%h1 Welcome to the index page!
%p Find me in app/views/home/index.html.haml

- if user_signed_in?
  %ul
    - current_user.facebook.get_connection("me", "feed").each do |x|
      %li= x["place"]
      %li= x["created_time"]



