%h1 Welcome to the index page!
%p Find me in app/views/home/index.html.haml

- if user_signed_in?
  %h4 Sparks near your past locations:
  %ul
    - @nearsparks.each do |x|
      - if !x[0].nil?
        = x[0].content



