%section.bck.light.text.center.padding
  .row.text.book.padding
    #update_location.button.normal
      %span.icon.map-marker
      %span Update My Location!
    #location_alert

    %hr
    %section.bck.lightest
      #indextext
        %h3.text.normal All sparks near your past locations:
      %hr
      #spark_feed.bck.lightest
        = render "home/spark_feed"

      = will_paginate @nearby_sparks, params: {controller: "home", action: "paginate"}


