<section class="bck light">
        <div class="row text center">
            <h1>Your Places</h1>
            <div id="mapbounds">
            <div id='map'></div>
        </div>
        </div>
    </section>


<script type='text/javascript'>
    var map = L.mapbox.map('map', 'examples.map-uci7ul8p')
        // map.addLayer(L.tileLayer('http://tile.stamen.com/watercolor/{z}/{x}/{y}.jpg'));

        // this may not be neccessary:
        map.setZoom

        // map.setView([-37.82, 175.215], 14);
        // [<%#= @destination.latitude %>, <%#= @destination.longitude %>], 6

    var markers = new L.MarkerClusterGroup();

    var addressPoints = <%= raw(@my_locations) %>

    for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        var title = a[2] + "\n" + a[3];
        var marker = L.marker(new L.LatLng(a[0], a[1]), {
            icon: L.mapbox.marker.icon({'marker-symbol': 'post', 'marker-color': '0044FF'}),
            title: title
        });
        marker.bindPopup(title);
        markers.addLayer(marker);
    }

    var sparkPoints = <%= raw(@nearby_sparks_for_map) %>

    for (var i = 0; i < sparkPoints.length; i++) {
        var a = sparkPoints[i];
        var title = a[2] + "\n" +  a[3];
        var marker = L.marker(new L.LatLng(a[0], a[1]), {
            icon: L.mapbox.marker.icon({'marker-symbol': 'post', 'marker-color': '5544AA'}),
            title: title
        });
        marker.bindPopup(title);
        markers.addLayer(marker);
    }
    // zoom the map to fit the bounds of the markers:
    setTimeout(function(){map.fitBounds(markers.getBounds())}, 500);

    map.addLayer(markers);



</script>


