#header {
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  background-color: brown;
  text-align: center;
  z-index: 100;
  margin-bottom: 50px;
}

#header a {
  font-family: 'Coustard', serif;
  font-size: 30px;
  margin:0;
  padding:0;
  line-height: 30px;
}

body{
  margin-top: 80px auto;
  height:100%;

}

#all_encompassing_container {
  margin-top: 70px;
  overflow: hidden;
}

#header ul {
  text-decoration: none;
  margin: 0;
  padding: 0;

}

#header li {
  display: inline;
  color: black;

}

#header li img{
  margin-top:5px;
  height: 50px;
  width: auto;
}

.left {
position: absolute;
top: 7px;
left: 2px;
}

#header .left img {
  margin-top: 5px;
  /*height: 60px;*/
}

.right {
  position: absolute;
  top: 7px;
  right: 2px;
}

#new_spark_div, #dashboard{
  display: none;
  position: absolute;
  width: 100%;
  border: 0px;
}

#new_spark_div {
  right: 100%;
}

#dashboard{
 left: 100%;
}

.alert, .notice{
  margin:0;
  padding:0;
}

#homepage{
  margin-top: 20px;
  height: 100%;
}

#user_icon img {
  width: 50px;
  height: 50px;
}

.column_ {
margin-top: 0;
}

#nav a {
color: white;
}

#nav a:hover{

}

#nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

#nav span {
  font-size: 22px;
}

#nav h3 {
  margin-bottom: 10px;
}

#body {
  background: rgba(26, 188, 156, 0.51);
}

input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
#dashcontainer{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tile {
  width: 50%;
  float: left;
}

.tile span {
  font-size: 80px;
  opacity: 0.5;
}

#map {
  position:absolute; top:10%; bottom:10%; width:90%;
}