#header {
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  background-color: brown;
  text-align: center;
  z-index: 100;
  margin-bottom: 50px;
}

#header a {
  font-family: 'Coustard', serif;
  font-size: 30px;
  margin:0;
  padding:0;
  line-height: 30px;
}

body{
  height:100%;
}

#all_encompassing_container {
  margin-top: 70px;
  overflow: hidden;
}

#header ul {
  text-decoration: none;
  margin: 0;
  padding: 0;

}

#header li {
  display: inline;
  color: black;

}

#header li img{
  margin-top:5px;
  height: 50px;
  width: auto;
}

#nav .left {
position: absolute;
top: 7px;
left: 2px;
}

#header .left img {
  margin-top: 5px;
  /*height: 60px;*/
}

#nav .right {
  position: absolute;
  top: 7px;
  right: 2px;
}

#new_spark_div, #dashboard{
  /*display: none;*/
  position: absolute;
  /*width: 100%;*/
  border: 0px;
  left:0;
  right:0;
  margin: auto;
}


#new_spark_div {
  right: 100%;
}

#dashboard{
  height: 100%;
  left: 100%;
}

.alert, .notice{
  font-color: red;
}

#homepage{
  margin-top: 0px;
  height: 100%;
}

#homepage span{
  /*font-size: 60px;*/
}

#user_icon img {
  width: 50px;
  height: 50px;
}

.column_ {
margin-top: 0;
}

#nav a {
color: white;
}

#nav a:hover{

}

#nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

#nav span {
  font-size: 22px;
}

#nav h3 {
  margin-bottom: 10px;
}

#body {
  margin: 0;
  padding: 0;
  background: rgb(236, 240, 241);
}

input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
#dashcontainer{
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.tile {
  width: 50%;
  float: left;
}

.tile span {
  font-size: 80px;
  opacity: 0.5;
}

.mypadding{
  padding-bottom: 20px;
}

#map {
  margin: auto;
}

#mapbounds{
  width: 100%;
  margin: 0 auto;
  height: 250px;
  border: 3px solid rgba(52, 73, 94, 0.64);
}
#landing_page{
  margin:0;
  padding:0;
}

#smitten{
  color: #e74c3c;
  font-size: 26px;
  margin-top: -10px;
  padding-top: 0;
}

#landingheart{
  color: #e74c3c;
}

#sparkshow, #editspark, #messageindex{
  /*padding-top: 40px;*/
  background-color: rgb(236, 240, 241);
  padding-bottom: 140px;
}

form{
  font-size: 22px;
}

textarea{
  height: 200px;
}


#landing_page .button{
  background-color:  rgb(52, 73, 94);
}

#mailicon{
  font-size: 44px;
}

#messageindex a{
  color:  rgb(52, 73, 94);
}

#messageindex tr a{
  font-size: 20px;
}

#mainwrapper{
  padding-top: 50px;
}
.notice{
  color: rgb(52, 73, 94);
}

.largeicon{
  font-size: 44px;
  padding: 10px;
}

#sparkshowlinks a {
padding: 5px;
font-weight: 600;
}


#spark a {
  font-size: 22px;
  /*color: rgb(26, 188, 156);*/
  font-weight: 600;
}

#location {
  color: rgb(26, 188, 156);
}

.sparkdatepadding{
  padding-bottom: 10px;
}




#indextext {
  color: rgb(231, 76, 60);
}

/* fixes issue with side scrolling on mobile */
body {
    overflow:hidden;
    width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#bluecancel{
  background-color: rgb(52, 73, 94);
}

#location_alert{
  padding: 10px;
  /*color: rgb(231, 76, 60);*/
  font-weight: 600;
}


#bottomcontainer{
  position: relative;
  height: 700px;
  width: 800px;
  border: 1px solid black;
  margin: 0 auto;

}

#bottomcontainer #iphone {
  font-size: 1000px;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  top: -300px;

}

#textcontainer{
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;

}


