#header {
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  background-color: brown;
  text-align: center;
  z-index: 100;
  margin-bottom: 50px;
}

#header a {
  font-family: 'Coustard', serif;
  font-size: 30px;
  margin:0;
  padding:0;
  line-height: 30px;
}

body{
  margin-top: 80px auto;
  border: 1px solid black;
  height:100%;

}

#all_encompassing_container {
  margin-top: 70px;
  overflow: hidden;
}

#header ul {
  text-decoration: none;
  margin: 0;
  padding: 0;

}

#header li {
  display: inline;
  color: black;

}

#header li img{
  margin-top:5px;
  height: 50px;
  width: auto;
}

.left {
position: absolute;
top: 0;
left: 10px;
}

#header .left img {
  margin-top: 5px;
  /*height: 60px;*/
}

.right {
  position: absolute;
  top: 0;
  right: 10px;
}

#new_spark_div, #dashboard{
  display: none;
  position: absolute;
  border: 2px solid;
  width: 100%;
  margin-top: 40px;
}

#new_spark_div {
  right: 100%;
}

#dashboard{
 left: 100%;
}

.alert, .notice{
  margin:0;
  padding:0;
}

#homepage{
  margin-top: 40px;
}
}

#user_icon img {
  width: 50px;
  height: 50px;
}